global
    log /dev/log local0
    maxconn 2048
    daemon

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend kubernetes
    bind {{ vip_address }}:6443
    default_backend kubernetes-master

backend kubernetes-master
    balance roundrobin
{% for host in groups['k8s_control_plane'] %}
    server {{ host }} {{ hostvars[host].ansible_host }}:6443 check
{% endfor %}